.top-bar {
  background: linear-gradient(to right,var(--main-bar-first),var(--main-bar-second),var(--main-bar-third));
  display: flex;
  align-items: center;
  padding: 0 12px;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 6vh;
  min-height: 32px;
  max-height: 70px;
  -webkit-app-region: drag;  
}

.app-title {
  color: var(--main-text-color);
  font-weight: 600;
  margin-right: 16px;
  margin-left: 16px;
  font-size: clamp(2px, 2vw, 25px);
   z-index: 100;
}

.window-actions {
  -webkit-app-region: no-drag;
  margin-left: auto;
  display: flex;
  height: 100%;
}
.win-btn.el-button {
  -webkit-app-region: no-drag;
  margin: 0;
  border: none;
  border-radius: 0;
  background: transparent;
  color: var(--main-text-color);
  height: 100%;
  width: clamp(40px, 3.2vw, 56px);
  padding: 0;
    display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.window-actions .win-btn.el-button:hover {
  background: var(--window-button-hover-color);
  color: var(--main-text-color);
}
.win-btn:focus,
.win-btn:focus-visible {
 outline: none;
  box-shadow: none;
}

/* done button footer */
.footer {
  padding: 12px 20px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid var(--main-border-color);
}

.footer .el-button {
  background-color: var(--main-button-color);
  border: var(--main-button-color);
  color: var(--main-text-color);
  box-shadow: 0 2px 4px var(--shadow-color);
}

.footer .el-button:hover {
  background-color: var(--main-hover-button-color);
  border-color: var(--main-button-color);
  color: var(--main-button-color);
}

