.top-bar {
  background: linear-gradient(to right,#45a5fa,#3794EA,#317EC7);
  display: flex;
  align-items: center;
  padding: 0 12px;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 6vh;
  min-height: 32px;
  max-height: 70px;
  -webkit-app-region: drag;  /* 整个栏可拖动 */
}

.app-title {
  color: #fff;
  font-weight: 600;
  margin-right: 16px;
  margin-left: 16px;
  font-size: clamp(2px, 2vw, 25px);
   z-index: 100;
}

/* window button */
.window-actions {
  -webkit-app-region: no-drag;
  margin-left: auto;
  display: flex;
  height: 100%;
}
.win-btn.el-button {
  -webkit-app-region: no-drag;
  margin: 0;
  border: none;
  border-radius: 0;
  background: transparent;
  color: #fff;
  height: 100%;
  width: clamp(40px, 3.2vw, 56px);
  padding: 0;
    display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.window-actions .win-btn.el-button:hover {
  background: rgba(255, 255, 255, 0.16);
  color: #fff;
}

/* done button footer */
.footer {
  padding: 12px 20px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #eee;
}

.footer .el-button {
  background-color: #409eff;
  border: #409eff;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.footer .el-button:hover {
  background-color: #fff;
  border-color: #409eff;
  color: #409eff;
}

